parameters:
    excludes_analyse:
        - %rootDir%/../../../tests/*
        - %rootDir%/../../../vendor/*
    bootstrap: %rootDir%/../../../phpstan-bootstrap.php
    ignoreErrors:
        - '#Casting to .+ something that.s already .+\.#'
        # This does only have one parameter, not sure intent here
        - '#Class Zend_Crypt_Rsa_Key_Public constructor invoked with 2 parameters, 1 required\.#'
        # This should probably be changed to a do/while loop instead of just while, Zend_Crypt_Math_BigInteger_Bcmath:215
        - '#Variable \$hex might not be defined\.#'
        # These methods exist on Zend_Crypt_Math but $_math property is typehinted as Zend_Crypt_Math_BigInteger_Interface
        - '#Call to an undefined method Zend_Crypt_Math_BigInteger::fromBinary\(\)\.#'
        - '#Call to an undefined method Zend_Crypt_Math_BigInteger::toBinary\(\)\.#'
        - '#Call to an undefined method Zend_Crypt_Math_BigInteger::btwoc\(\)\.#'
        - '#Call to an undefined method Zend_Crypt_Math_BigInteger::rand\(\)\.#'
        # Isset calls probably aren't necessary here, Zend_Crypt_Hmac:89|110
        - '#Variable \$key in isset\(\) always exists and is not nullable\.#'
        - '#Variable \$hash in isset\(\) always exists and is not nullable\.#'
        # Probably unnecessary is_float check, Zend_Crypt_Math:121
        - '#Call to function is_float\(\) will always evaluate to false\.#'
